/* Add screen styles below */
body{
  background-color: #2A2B2A;
  color: #F8F4E3;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
  font-family: Inter, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
  background-color: #706C61;
  color: #2A2B2A;
  margin-top: 0;
  padding: 10px;
  font-size: 64px;
}

h2{
  font-size: 43px;
  font-weight: 500;
}

.content{
  width: 900px;
  margin: 0 auto;
}

.headline{
  font-size: 64px;
  text-align: center;
  font-weight: bolder;
}

img{
  height: 300px;
  width: 300px;
  padding-right: 30px;
  margin-left: 50px;
}

.PhotoDescription{
  display: flex;
}

.description{
  font-size: 20px;
}

.Bio{
  padding-right: 30px;
}
